<html>
  <body>
    <div class="container text-center">
      <h1>Sport Diet Generator</h1>
    </div>

    <div class="container text-center">
      <br />
      <p>
        This tool enables you to get a full diet plan accoring to your Sport
        goals.
      </p>
    </div>
    <br />
    <br />

    <h2>Personnal Data</h2>

    <div class="container text-center">
      <div class="row">
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
      </div>
    </div>
    <br />

    <h2>Goals</h2>

    <p>Here is content to ask</p>
    <br />

    <h2>Preferences</h2>

    <p>Here is content to ask</p>
    <br />

    <h2>Diet Plan</h2>

    <p>Here is content to ask</p>
    <br />
  </body>
</html>
